<html xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>artApp</title>
  <script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
</head>
<body>
    <div>ログイン完了</div>
    <form role="form" id="delete" th:action="@{/deleteUser/{id}(id=*{currentUserId})}" method="post">
      <button type="submit">アカウント削除</button>
    </form>
    <form role="form" id="logout" th:action="@{/logout}" method="post">
      <button type="submit">ログアウト</button>
  </form>
</body>
</html>